body {
  background: #eee;
  font-family: sans-serif;
}

h1, footer {
  text-align: center;
}

h1 {
  line-height: 80px;
  margin: 0;
}

.back-thing {
  position: absolute;
  width: 100%;
}
.back-thing .container {
  height: 300px;
  width: 100%;
  max-width: 480px;
  background: #aaa;
  margin: 25px auto;
}

.swipe-container {
  max-width: 480px; 
  margin: 25px auto;
  outline: 1px solid #ccc;
  background: #fff;
}
.swipe-pane {
  max-width: 480px;
}